h1, h2 {
    color: white;
    text-align: left;
}

.fundo {
    /*background-image: url(img/background.jpg);*/
    background-color: #284b63;
    width: auto;
    height: auto;
    background-size: cover;
}

.logo {
    border-radius: 20%;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

div {
    margin-bottom: 50px;
    padding: 20px;
}

a:hover {
    background-color:white ;
}

@media screen and (max-width: 600px) {
    body {
        background-color: blue;
   }
}