@media screen and (max-width: 600px) {
    body {
        background-color: white;
   }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
    line-height: 1.45;
}

h1, h2 {
    color: black;
    text-align: left;
}

.fundo {
    /*background-image: url(img/background.jpg);*/
    background-color: #284b63;
    width: auto;
    height: auto;
    background-size: cover;
}

.logo {
    border-radius: 20%;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
}

div {
    margin-bottom: 25px;
    padding: 20px;
}

a:hover {
    background-color:white ;
}


.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
}

footer {
    background: #353535;
    padding: 32px 0;
    text-align: center;
    color: #868686;
    font-size: 12px;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer li {
    display: inline-block;
}
footer li a {
    padding: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #c3c3c3;
}

.texto {
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    max-width: 900px;
    display: flex;
    float: center;    
}